.footer {
  background: #fff;
  padding: 50px 80px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  position: absolute;
  bottom: 18px;
  width: 92%;
}

.footer-logo {
  color: #6b57ff;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-text {
  margin-bottom: 20px;
  color: #444;
  max-width: 240px;
}

.footer-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #333;
  background: #eee;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  transition: 0.3s;
}

.footer-icons a:hover {
  background: #6b57ff;
  color: #fff;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-section a {
  display: block;
  margin-bottom: 8px;
  color: #444;
  text-decoration: none;
  transition: 0.2s;
}

.footer-section a:hover {
  color: #6b57ff;
  transform: translateX(4px);
}

/* hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #ddd;
} */

.footer-bottom {
  text-align: center;
  color: #777;
  font-size: 14px;
  position: absolute;
  bottom: 11px;
}
