* {
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: gray;
  font-family: "Times New Roman", Times, serif;
  height: 50px;
}

li {
  position: absolute;
  right: 50px;
  top: 14px;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(75, 59, 59);
  font-size: 20px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

a:hover {
  color: rgb(32, 77, 114);
}
.log {
  height: 50px;
  width: 90px;
}
.log:hover {
  cursor: pointer;
}
