.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
  height: 100vh;
}

.auth-card {
  background: white;
  width: 500px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 8px 30px rgba(0,0,0,0.12);
  text-align: center;
}

.auth-icon {
  width: 70px;
  height: 60px;
  background: #2563eb;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 18px;
}

.auth-title {
  margin: 10px 0 5px;
  font-size: 28px;
  font-weight: bold;
}

.auth-subtitle {
  color: #777;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 6px;
  color: #444;
}

.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input {
  width: 94%;
  padding: 12px 12px 12px 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #777;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.auth-btn:hover {
  background: #1e4ecf;
}

.auth-footer {
  margin-top: 20px;
  font-size: 14px;
}

.auth-footer a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}
