.signup-container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.signup-container input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}

.signup-container button {
  width: 100%;
  padding: 12px;
  background: #6b57ff;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-container button:hover {
  background: #4d3dc4;
}
